@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

* {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  overflow: hidden;
}
.letter{
  padding-top: 80px;
  font-size: 3em
}